@import './RootStyle.css';

.academic-info_container{
    border: 1px solid var(--border-color);
    border-radius: 30px;
    background-color: white;
    padding: 2rem 0rem;
}

#level{
    display: flex !important;
}
#level::after{
    
    align-self: flex-start;
    content: "*";
    color: red;
    margin-left: 0.25rem;
}