@import './RootStyle.css';

.App {
  text-align: center;
  font-family: var(--font-family-app);
  font-size: var(--font-size-normal);
  background-color: var(--background-color);
}

@layer {
  button{
      font-family: var( --font-family-app) !important;
  }
  button:hover{
      border: 1px solid white;
      filter: brightness(1.1);
      box-shadow: 0px 0px 10px rgb(139, 137, 137) !important ;
      font-family: var( --font-family-app) !important;
  }
  hr{
      border: 1px solid rgb(239, 237, 237) !important; ;
  }
}
/* *{
outline: 1px solid blue ;
} */


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
