@import './RootStyle.css';

.class-card_container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    /* background-color: #B2FFDA; */
    background-color: #FFFAF4;
    /* border:1px solid #73f7b7; */
    border:1px solid #ebba7f;
    border-radius: 10px;
    color: black !important;
}
/* .class-card_container:hover{
    box-shadow: 0 0 4px 4px  #9efdcf;
} */
/* .class-card_image{
    width: 50%;
} */
.card-content.class-card{
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.content_container{
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem !important;
    width: 100%;
}
.class-card_left{
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
    align-content: space-between;
    justify-content: center;
}

.class-card{
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;

}
.teacher_demo_class_cars_content,.teacher_class_card_content {
    display: flex !important;
    margin: 0rem !important;
    text-align: left;
}


.teacher_demo_class_cars_content{
    flex-direction: column;
}

.card-footer{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.teacher-class-card_buttons{
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}
.remove-icon{
    width: 2.5rem !important;
    height: 2rem !important;
}
.add-link-meeting_div{
   
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 80%;
}



.teacher_class_card_content{
    display: flex !important;
    flex-direction: column;
    gap: .5rem;
    /* align-items: center; */
    justify-content: space-between;
    padding-right: 1rem;
    text-align: left;
}

.link-video_container{
/* display: flex !important; */
flex-direction: row;
gap: 1rem;
align-items: flex-start;
width: 100%;
}

.link-video-from-db_div{
    /* background-color: #FFC67E; */
    display: flex !important;
    justify-content: space-between;
    margin-bottom: .25rem;
}

/* .link-video-add-more_div{
    width: 89%;
} */

.link-video-add-more-show_div{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: .5rem;
}

.add-link-video_div-wrap{
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.add-link-video_icon-plus{
    width: 2rem !important;
    height: 2rem !important;
    cursor: pointer;
    fill: #23A9F1;
    background-color: #FFFCF3;
    border-radius: 50%;
}

.add-link-video_icon-remove{
    width: 2.5rem !important;
    height: 2rem !important;
    cursor: pointer;
    fill: #23A9F1;
    background-color: #FFFCF3;
    border-radius: 50%;
}

.add-link-video_icon-plus:hover,
.add-link-video_icon-remove:hover{
box-shadow: 0 0 8px 2px #8dcced ;
border-color: #b5b5b5;
    color: #363636;
}
.link-add_p{
    overflow-wrap: anywhere;
}

.delete-link_button{
    width: 2rem !important;
    height: 2rem !important;
    background-color: inherit;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 50% !important;
}
.delete_icon{
width: 2.5rem !important;
height: 2rem !important;
cursor: pointer;
fill: #23A9F1;
    background-color: #FFFCF3;
}

.up-link-video_group-buttons{
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: .5rem;
}

.modal-content{
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    margin: 30vh auto auto;
    background-color: white;
    padding: 1rem;
    min-width: 50vw;
    min-height: 30vh;

}