@import './RootStyle.css';

.class-card_container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: flex-start;
    background-color: #B2FFDA;
    border:1px solid #73f7b7;
    border-radius: 10px;
    color: black !important;
}
/* .class-card_container:hover{
    box-shadow: 0 0 4px 4px  #9efdcf;
} */
/* .class-card_image{
    width: 50%;
} */
.card-content.class-card{
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.content_container{
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem !important;
}
.class-card_left{
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
    align-content: space-between;
    justify-content: center;
}

.class-card{
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;

}
.content{
    display: flex !important;
    margin-bottom: 0rem !important;
    text-align: left;
}

.card-footer{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
.group-buttons{
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}