@import './RootStyle.css';

.detail-class_wrap {
border: 1px solid var(--border-color);
border-radius: 10px ;
padding: 1rem ;
box-shadow: 0 0 8px 0 var(--border-color);
}
#detail-class_modal{
    background-color: white;
    border: none;
    box-shadow: none !important;
}

#detail-class_modal :hover{
    border: none;
    box-shadow: none !important;
}

/* .detail-class_columns{
    width: 50% !important;
} */
.detail-class-name{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.detail-class_content{
display: flex;
justify-content: flex-start;
text-align: left;
margin-bottom: 0 !important;
margin-right: 0 !important;
}

.detail-class_wrap{
    align-items: center;
}