@import './RootStyle.css';

hr{
    opacity: 1 !important;
}
.finding-teacher_image{
    width: 70%;
}

.finding-teacher-page_hero-left{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.filter_container{
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 1rem;
    left: 3rem;
}