.gender-signup_form .control{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
}
@layer
{
/* #gender-1, #gender-2, #gender-3 */
div[id^="gender-"]
{
    display: flex;
      flex-direction: inherit !important; 
      gap: 0.25rem !important;
      align-items: center !important;
  }

} 
