@import './RootStyle.css';

.item{
    display: flex;
    padding : 6px 10px 6px 10px;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem ;
    border-radius: 10px;
    color:   rgb(7, 105, 170);;
    width: 100%;
}

.item:hover{
    background-color: rgba(255,255,255,255,0.3);
    cursor: pointer;
    box-shadow:0 8px 8px 0  var(--border-color) ;
border: 1px solid rgba(255,255,255,0.18);
/* filter: blur(5.5px); */
    
}


.icon{
    margin-right: .5rem;
    margin-top: .25rem;
}

.icon svg{
    height: 2rem !important;
    width: 2rem !important;
}
.item-name{
    margin-top: .5rem !important;
}
