@import './RootStyle.css';

.navbar_container {
  padding-top: 0.25rem !important;
  background-color: var(--background-color);
}

.navbar {
  background-color: var(--background-color) !important;
  display: flex !important;
}
a.navbar-item:hover{
  background-color: var(--background-color) !important;
    color: #0984d6 !important;
    box-shadow: 0 2px 0;
}
a.navbar-item:focus{
  background-color: var(--background-color) !important;
    color: #0984d6 !important;
    box-shadow: 0 2px 0;
}
.navbar-menu {
  height: 80%;
  align-self: center;
}
.navbar-start{
    align-self: center;
}
.logo {
  padding: 0.25rem 1rem;
  border-right: 1px solid black;
}
#logo-brand {
  /* max-width: 5rem !important; */
  max-width: 8rem !important;
  height: 4rem;
}
.navbar-menu {
  margin-left: 1rem;
}

@media screen and (width>=920px) {
  .navbar-start,
  .navbar-menu,
  .navbar-end {
    display: flex !important;
    flex-direction: row;
    background-color: var(--background-color);

  }
.navbar-menu{
  box-shadow: none;
}
#navbar-buger, span {
  display:none !important;
}
}


@media screen and (width<= 900px) {
  #navbar-buger {
    display: flex !important;
    flex-direction: row;
    justify-items: flex-end;
    align-self: center;
    background-color: var(--background-color);
    height: 150%;
    margin-right:1rem;
    row-gap: .25rem
  }
  #navbar-buger span{
    width: 2.5rem;
    height: 0.1rem;
    margin:0rem
  }
}

