@import './RootStyle.css';

/* profile-page_container */
.profile-page_container_columns{
    width: 100%;
    min-height: 100vh;
}
.profile-page_aside-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height: 100%; */
    justify-content: flex-start;
    margin-left: 10rem;
    /* position: absolute; */
    top: 10rem;
    
}
.profile-page_container{
    display: flex;
    margin: 1rem;
    color: rgb(83, 161, 212);
    flex-direction: row;
    gap: 1rem
}

/* sidebar_container */
.sidebar_container{

top: 0;
left: 0;
display: flex;
justify-content: flex-start;
align-items: center;
}
.profile-page_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



@media  (width<= 1024px) {
    .profile-page_container_columns{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        align-items: center;
    }
    
    .profile-page_aside-links{
        margin-left: 0 !important;
    
    }
}
/* sidebar */
/* .sidebar:hover{
    width: 14rem;
   
transition: width 0.2s linear 0.4s;
}
.sidebar:not(:hover){
    transition: width 0.2s linear 0.4s;
} */
