#student-judge-category-form-content {
  gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.25rem;
}
#student-judge-category-form_label-content {
  display: flex;
  justify-content: flex-start;
}
/* td{
  width: 60%;
} */

.student-judge-category-form{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
