@import './RootStyle.css';



.student-judge-page_container{
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    padding-bottom: 2rem;
}

.judge-teacher-container{
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    padding-bottom: 2rem;
}

.teacher-short-info_judge-card{
    position: sticky;
    top:7rem
}