@import './RootStyle.css';

#teacher-complete-info_form {
    display: flex;
    flex-direction: column ;
    margin-bottom: 1rem;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 2rem !important;
    justify-content: flex-start;
    /* min-width: 70%; */
    
}

#teacher-complete-info_form:hover{
    box-shadow: 0px 0px 10px var(--border-color);
}

.teacher-degree-info,.teacher-academic-info{
    display: flex !important ;
    flex-direction: row;
}
.column.is-5 .field  {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
}


.field  .label::after {
    content: "*";
    color: red;
    margin-left: 0.25rem;
  }
  #signup_button{
    display: flex !important;
    align-self: center;
    flex-direction: row;
    gap:1rem
  }

.gender-signup_form .control{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 3rem;
    }
 @layer
{
    /* #gender-1, #gender-2, #gender-3 */
    div[id^="gender-"]
    {
          display: flex;
          flex-direction: inherit ; 
          gap: 0.25rem ;
          align-items: center ;
      }
      
} 
 

.sign-up_label{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.sign-up_label p{
    margin-right: 1rem ;
}
#singup-button_footer{
    background-color: white !important;
    width: 100% !important;
    align-self: center !important;
    justify-content: center;
    padding: 2rem 2rem 0 2rem !important;
}
