@import './RootStyle.css';

.teacher-short-info-left_media{
    gap:1rem
}

.teacher-short-info-left_media-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left !important;
}
.teacher-short-info-left_sub-title{
    display: flex;
    flex-direction: row;
    gap:2rem 
}
.sub-title-left,.sub-title-right{
display:flex;
flex-direction: row;
gap:.25rem;
}
.sub-title-right_icon{
    height:1.45rem !important;
    width:1.45rem !important
}

.teacher-short-nffo-left_icon-verified{
    height:1.2rem !important;
    width:1.2rem !important;
    margin-top: 1rem;
    margin-left: 1rem;
    fill:#00c4a7;

}

#teacher-short-info-left_p{
    height:6rem;
    overflow-y:hidden !important;
    word-wrap: break-word !important;
}